@media screen and (max-width: 1400px) {
  .table-head__wrapper {
    grid-template-columns:
      minmax(120px, 200px) minmax(59px, 130px) minmax(110px, 150px)
      minmax(139px, 208px) minmax(76px, 102px) minmax(86px, 164px);
  }
}

@media screen and (max-width: 1366px) {
  .table-head__wrapper {
    grid-template-columns:
      minmax(120px, 190px) minmax(59px, 123px) minmax(110px, 139px)
      minmax(139px, 208px) minmax(76px, 100px) minmax(86px, 164px);
  }
}

@media screen and (max-width: 1340px) {
  .table-head__wrapper {
    grid-template-columns:
      minmax(120px, 187px) minmax(59px, 124px) minmax(110px, 134px)
      minmax(139px, 200px) minmax(76px, 97px) minmax(86px, 164px);
  }
}

@media screen and (max-width: 1300px) {
  .table-head__wrapper {
    grid-template-columns:
      minmax(120px, 188px) minmax(59px, 112px) minmax(110px, 125px)
      minmax(139px, 198px) minmax(76px, 86px) minmax(86px, 164px);
  }
}

@media screen and (max-width: 1280px) {
  .product__head-title {
    margin-left: 0;
    position: relative;
    left: -12px;
  }

  .table-head__wrapper {
    grid-template-columns:
      minmax(120px, 174px) minmax(59px, 121px) minmax(110px, 135px)
      minmax(139px, 186px) minmax(76px, 115px) minmax(86px, 164px);
  }

  .table-body {
    min-height: 535px;
    padding: 0 20px;
    grid-template-columns:
      minmax(110px, 151px) minmax(75px, 122px) minmax(108px, 133px)
      minmax(160px, 189px) minmax(100px, 127px) minmax(80px, 110px);
  }

  tr th:first-child {
    padding-left: 20px;
  }

  .pagination {
    padding-right: 14px;
  }
}

@media screen and (max-width: 1200px) {
  .side-menu {
    width: 260px;
  }

  .side-menu__items-button-box {
    width: 210px;
  }

  td,
  th,
  .btn-table {
    font-size: 13px;
  }
}

@media screen and (max-width: 1152px) {
  h1 {
    font-size: 20px;
    left: 4px;
  }

  .logo__image {
    width: 30px;
    height: 30px;
  }

  .logo__box-span {
    top: -3px;
    left: 8px;
  }

  .side-menu {
    width: 220px;
  }

  .side-menu__items-button-box {
    width: 170px;
  }

  .main-wrapper h2 {
    font-size: 18px;
  }

  .product__layout {
    width: 100%;
  }

  .product__head-title h3 {
    font-size: 16px;
  }

  .product__head-title p {
    font-size: 13px;
  }

  tr th:first-child {
    padding-left: 22px;
  }

  .btn-table {
    padding: 0;
    width: 70px;
  }

  .table-head__wrapper {
    grid-template-columns:
      minmax(120px, 151px) minmax(59px, 113px) minmax(110px, 120px)
      minmax(139px, 168px) minmax(76px, 100px) minmax(86px, 164px);
  }

  .table-body {
    padding: 0 25px;
    grid-template-columns:
      minmax(110px, 130px) minmax(75px, 110px) minmax(108px, 125px)
      minmax(160px, 170px) minmax(100px, 127px) minmax(80px, 100px);
  }
}

@media screen and (max-width: 1024px) {
  .product {
    min-height: 850px;
  }

  .table-head__wrapper {
    grid-template-columns:
      minmax(120px, 134px) minmax(59px, 85px) minmax(110px, 110px)
      minmax(139px, 162px) minmax(76px, 90px) minmax(86px, 164px);
  }

  .product__head-search input[type="text"],
  .btn-table,
  .product__footer-info,
  th,
  td {
    font-size: 12px;
  }

  tr td {
    word-break: break-all;
    padding-left: 5px;
  }

  tr th:first-child {
    padding-right: 10px;
    padding-left: 20px;
  }

  .table-body {
    padding: 0 18px;
  }

  .product__footer {
    top: 43px;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .side-menu {
    display: none;
  }

  header {
    display: flex;
    position: fixed;
    width: 100%;
    min-height: 100px;
    background: #ffffff;
    box-shadow: 0px 10px 60px 0px #e2ecf980;
    z-index: 10;
  }

  .logo {
    align-items: center;
    margin: 0 0 0 30px;
  }

  .logo__image {
    width: 34px;
    height: 34px;
  }

  h1 {
    top: 0;
    left: 5px;
  }

  .logo__box-span {
    top: 3px;
    left: 10px;
    font-size: 10px;
  }

  .burger-menu {
    position: absolute;
    top: 26px;
    right: 30px;
    z-index: 100;
    display: block;
  }

  #burger {
    display: none;
  }

  [for="burger"] {
    display: block;
    position: absolute;
    top: 14px;
    right: -16px;
    width: 50px;
    cursor: pointer;
  }

  [for="burger"]:before {
    content: url("../images/svg/burger.svg");
  }

  #burger:checked + [for="burger"]:before {
    content: url("../images/svg/cancel-burger.svg");
  }

  nav {
    display: none;
    position: fixed;
    top: 3%;
    right: 0;
    background: #ffffff;
  }

  #burger:checked + [for="burger"] + nav {
    position: relative;
    top: 80px;
    right: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: show 0.5s ease;
    transition: all 0.5s;
    border-radius: 10px;
    width: 450px;
    height: 660px;
    border: 1px solid #a3e7d8;
  }

  .menu {
    position: absolute;
    list-style: none;
    padding: 0;
  }

  .menu__item {
    padding: 10px;
    font-size: 24px;
  }

  .menu__item a {
    text-decoration: none;
    color: #9197b3;
  }

  .menu__item.active {
    border-radius: 8px;
  }

  .menu__item.active a {
    color: #ffffff;
  }

  .project-manager {
    display: none;
  }

  .main-wrapper {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 50px;
  }

  .main-wrapper__title {
    margin-top: 145px;
  }

  .product {
    margin-bottom: 100px;
  }

  .product__head {
    padding-left: 15px;
    padding-right: 15px;
  }

  .product__head-title {
    left: 0;
  }

  .product__head-search {
    right: 0;
    top: -15px;
  }

  tr th:first-child {
    padding-left: 20px;
  }
}

@media (max-width: 800px) {
  #burger:checked + [for="burger"] + nav {
    right: 120px;
  }
}

@media (max-width: 600px) {
  #burger:checked + [for="burger"] + nav {
    right: 30px;
  }

  .main-wrapper__title {
    margin-left: 20px;
  }

  .product {
    width: 0;
    min-width: 540px;
    min-height: 900px;
    overflow-x: auto;
  }

  .product__layout {
    min-width: 670px;
  }

  .product__footer {
    display: flex;
    justify-content: center;
  }

  .product__footer-wrapper {
    display: flex;
    flex-direction: column;
    width: 400px;
  }

  .product__footer-info {
    justify-content: center;
    padding-bottom: 18px;
  }

  .pagination {
    margin-bottom: 30px;
  }

  .pagination__wrapper {
    width: 340px;
  }

  .pagination li,
  .pagination__arrow-left,
  .pagination__arrow-right {
    width: 30px;
    height: 29px;
    font-size: 12px;
  }

  .pagination__arrow-left,
  .pagination__arrow-right {
    padding: 7px 11px;
  }

  .pagination li {
    margin: 0 7px;
  }

  .main-wrapper {
    padding: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 500px) {
  .logo {
    margin-left: 10px;
  }

  .burger-menu {
    top: 24px;
    right: 15px;
  }

  #burger:checked + [for="burger"] + nav {
    right: 0;
  }

  .main-wrapper {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 50px;
  }

  .main-wrapper h2 {
    font-size: 18px;
  }

  .product {
    min-width: 440px;
  }

  .product__head {
    padding-left: 15px;
    padding-right: 15px;
  }

  .product__head-title h3 {
    font-size: 16px;
  }

  .product__head-title p {
    font-size: 12px;
  }

  .product__head-search {
    right: 0;
    top: -15px;
  }

  tr th:first-child {
    padding-left: 20px;
  }

  .product__layout {
    width: 100%;
  }

  .product__layout-box {
    overflow-x: auto;
    position: relative;
  }

  .product__footer {
    top: 15px;
  }

  .product__footer-wrapper {
    display: flex;
    flex-direction: column;
  }

  .pagination {
    padding: 0;
  }

  .pagination__wrapper {
    width: 100%;
    justify-content: center;
  }

  .product__footer-info {
    font-size: 12px;
    padding-bottom: 15px;
    padding-left: 0;
    justify-content: center;
  }
}
