@media (max-width: 1200px) {
  .container {
    flex-direction: column;
  }

  .side-menu {
    width: 100%;
    align-items: flex-start;
  }

  .logo {
    margin-bottom: 25px;
  }

  .side-menu__items {
    flex-direction: row;
  }

  .side-menu__wrapper {
    width: 100%;
    padding: 30px;
    margin: 0 auto;
    align-items: normal;
    position: relative;
  }

  .project-manager__text-span {
    left: 0 !important;
  }

  .side-menu__wrapper ul {
    height: 45px;
    margin-top: 0;
    align-items: center;
  }

  .side-menu__items li button {
    width: 150px;
    flex-direction: row;
    justify-content: center;
  }

  .side-menu__items li button svg {
    display: none;
  }

  .project-manager {
    height: 0;
    display: flex;
    justify-content: flex-end;
  }

  .project-manager img {
    width: 36px;
    height: 36px;
  }

  .main-wrapper {
    width: 100%;
    margin-bottom: 100px;
  }

  .product {
    margin: 0 auto;
  }

  .product__head {
    height: auto;
  }

  .product__head-search {
    right: 0;
  }

  .main-wrapper h2 {
    padding-left: 200px;
  }

  .table-head__wrapper {
    grid-template-columns:
      minmax(165px, 1fr) minmax(120px, 1fr) minmax(140px, 1fr)
      minmax(140px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr);
  }

  .table-body {
    grid-template-columns:
      minmax(135px, 1fr) minmax(123px, 1fr) minmax(140px, 1fr)
      minmax(143px, 1fr) minmax(110px, 1fr) minmax(85px, 1fr);
  }

  td {
    font-size: 13px;
  }

  .btn-table {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 22px;
  }

  .logo__image {
    width: 34px;
    height: 34px;
  }

  .side-menu__wrapper ul {
    justify-content: normal;
  }

  .side-menu__items li button {
    width: 120px;
    padding: 10px;
  }

  .side-menu__items li button img {
    width: 20px;
  }

  .side-menu__items li button h3 {
    font-size: 12px;
    padding-left: 10px;
  }

  .project-manager__wrapper {
    margin-bottom: 70px;
    justify-content: flex-end;
  }
  .project-manager__wrapper p {
    display: none;
  }

  .main-wrapper {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }

  .main-wrapper__title {
    margin-top: 25px;
    margin-left: -30px;
  }

  .main-wrapper h2 {
    padding-left: 60px;
  }

  .product {
    top: 20px;
  }

  .product__layout {
    width: 100%;
  }

  .product__layout-box {
    overflow-x: auto;
    position: relative;
  }

  .table-head__wrapper {
    grid-template-columns:
      minmax(160px, 1fr) minmax(130px, 1fr) minmax(135px, 1fr)
      minmax(144px, 1fr) minmax(115px, 1fr) minmax(100px, 1fr);
  }
}

@media (max-width: 480px) {
  .side-menu {
    position: relative;
  }

  .side-menu__wrapper {
    margin: 0;
    padding: 0;
    padding: 0px 15px;
    padding-top: 25px;
  }

  .side-menu__wrapper ul {
    display: none;
  }

  .logo {
    width: 25px;
    height: 25px;
  }

  .logo__image {
    width: 25px;
    height: 25px;
  }

  h1 {
    font-size: 16px;
    top: 0;
    left: 2px;
  }

  .side-menu__wrapper span {
    left: 26px;
    bottom: 3px;
  }

  .burger-menu {
    position: absolute;
    top: 18px;
    right: 30px;
    padding: 15px;
    z-index: 100;
    display: block;
  }

  #burger {
    display: none;
  }

  [for="burger"] {
    display: block;
    position: absolute;
    top: 4px;
    right: -16px;
    width: 50px;
  }

  [for="burger"]:before {
    content: url("../images/svg/burger.svg");
  }

  #burger:checked + [for="burger"]:before {
    content: url("../images/svg/cancel-burger.svg");
  }

  nav {
    display: none;
    position: fixed;
    top: 3%;
    right: 0;
    background: #ffffff;
  }

  #burger:checked + [for="burger"] + nav {
    position: relative;
    top: 25px;
    right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: show 0.5s ease;
    transition: all 0.5s;
    border-radius: 10px;
    width: 320px;
    height: 350px;
    border: 1px solid #a3e7d8;
  }

  .menu {
    position: absolute;
    list-style: none;
    padding: 0;
  }

  .menu__item {
    padding: 7px;
    font-size: 18px;
  }

  .menu__item a {
    text-decoration: none;
    color: #9197b3;
  }

  .menu__item.active {
    border-radius: 8px;
  }

  .menu__item.active a {
    color: #ffffff;
  }

  .project-manager {
    display: none;
  }

  .main-wrapper {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 50px;
  }

  .main-wrapper h2 {
    font-size: 18px;
  }

  .product__head {
    padding-left: 15px;
    padding-right: 15px;
  }

  .product__head-title h3 {
    font-size:20px;
  }

  .product__head-title p{
    font-size: 12px;
  }

  .product__head-search {
    right: 0;
    top: -15px;
  }

  tr th:first-child {
    padding-left: 20px;
  }

  .product__layout {
    width: 100%;
  }

  .product__layout-box {
    overflow-x: auto;
    position: relative;
  }

  .table-head__wrapper {
    grid-template-columns:
      minmax(160px, 1fr) minmax(130px, 1fr) minmax(135px, 1fr)
      minmax(144px, 1fr) minmax(115px, 1fr) minmax(100px, 1fr);
  }

  .product__footer {
    top: 15px;
  }

  .product__footer-wrapper {
    display: flex;
    flex-direction: column;
  }

  .pagination {
    padding: 0;
  }

  .pagination__wrapper {
    width: 100%;
    justify-content: center;
  }

  .product__footer-info {
    font-size: 12px;
    padding-bottom: 15px;
    padding-left: 0;
    justify-content: center;
  }
}
